absl-py==1.2.0
astor==0.8.1
astunparse==1.6.3
gast==0.3.3
google-pasta==0.2.0
grpcio==1.48.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
numpy==1.18.5
nvidia-cublas-cu115==11.7.4.6
nvidia-cuda-cupti-cu115==11.5.114
nvidia-cuda-nvcc-cu115==11.5.119
nvidia-cuda-runtime-cu115==11.5.117
nvidia-cudnn-cu115==8.3.2.44
nvidia-cufft-cu115==10.6.0.107
nvidia-curand-cu115==10.2.7.107
nvidia-cusolver-cu115==11.3.2.107
nvidia-cusparse-cu115==11.7.0.107
nvidia-dali-cuda110==1.8.0
nvidia-dali-nvtf-plugin==1.8.0+nv21.12
nvidia-nccl-cu115==2.11.4
nvidia-pyindex==1.0.9
nvidia-tensorflow==1.15.5+nv21.12
onnx==1.12.0
opt-einsum==3.3.0
protobuf==3.19.1
PyYAML==6.0
six==1.16.0
tensorboard==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
typing_extensions==4.3.0
wrapt==1.14.1
