astor==0.8.1
beniget==0.2.2
chainer==7.8.0
click==8.0.4
commonmark==0.9.1
filelock==3.4.1
flatbuffers==22.9.24
gast==0.3.3
huggingface-hub==0.4.0
onnx==1.9.0
onnxruntime==1.8.0
onnxsim==0.4.8
Pygments==2.13.0
regex==2022.9.13
rich==12.6.0
sacremoses==0.0.53
tokenizers==0.10.3
transformers==4.12.5
